.close{
    position: absolute;
    z-index: 1;
    top: 25px;
    right: 25px;
    color: #594e4e;
    background-color: rgba(24, 23, 23, 0.04);
    font-size: 30px;
    font-weight: bold;
    transition: 0.3s;
}
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.nosotros{
    background-image: url("img/fondos/port.jpg");
    width: 107%;
    height:100%;
    background-size: 100%;
    background-repeat:no-repeat;
    background-size: cover;
}

#titular-nosotros{
    float: right;
    padding: 80px 60px 60px 20px;
}

#titular-nosotros h1{
    font-family: MontserratIta;
    font-size: 65px;
    color: #003366;
}

.imgpersonal{
    width: 50%;
    border-radius: 50%;
    position: center;
}
.imgpersonal-parafo{
    width: 90%;
    padding: 15px 10px 15px 10px;
    border-radius: 50%;
    position: center;
}
#educadores p{
    border-radius: 5px;
    font-family: Confortaa;
    font-size: 25px;
}

#educadores h1{
    color: #003366;
    border-radius: 5px;
    font-family: MontserratFina;
    font-size: 55px;
}

#educadores h3{
    text-align: center;
    color: #003366;
    font-family: Montserrat;
    font-size: 35px;
}

.espacio-educadores{
    width: 100%;
    height: 60px;
}

/*Preguntas*/
#preguntas{
    font-family: Confortaa;
    font-size: 30px;
    color: #594e4e;
    padding: 60px 0px 20px 10px;
}
#preguntas h1{
    font-family: MontserratIta;
    font-size: 80px;
    color: #003366;
    font-weight: lighter;
    padding-right: 75px;
    padding-top: 30px;
}
#preguntas h2{
    font-family: MontserratFina;
    font-size: 80px;
    color: #003366;
    font-weight: lighter;
    padding-left: 75px;
    padding-bottom: 20px;
}
#preguntas b{
    color: yellow;
}
.respuestas{
    font-family: Confortaa;
    font-size: 20px;
    color: #594e4e;
}

@media only screen and (max-width: 600px) {

    .nosotros{
        margin-top:148px;
    }

    #educadores p{
        border-radius: 5px;
        font-size: 20px;
        text-align: center;
    }
    #educadores h1{
        color: #003366;
        border-radius: 5px;
        font-size: 40px;
        text-align: center;
    }

    #preguntas{
        font-size: 25px;
        padding: 150px 10px 30px 10px;
    }
    .respuestas{
        font-size: 20px;
    }

    #preguntas h1{
        font-size: 40px;
        padding-right: 25px;
    }
    #preguntas h2{
        font-size: 40px;
        padding-left: 25px;
    }

    #titular-nosotros{
        padding: 25px 1px 1px 1px;
        width: 100%;
    }

    #titular-nosotros h1{
        font-size: 35px;
        text-align: center;
        width: 100%;
    }
}
.nosotros img{
    width: 100%;
}