.quienes{
    background-image: url("img/fondos/port.jpg");
    width: 103%;
    height:100%;
    background-size: 100%;
    background-repeat:no-repeat;
    background-size: cover;
}

#titular-quienes{
    float: right;
    padding: 80px 60px 40px 40px;
}

#titular-quienes h1{
    font-family: MontserratIta;
    font-size: 75px;
}

.p-quienes p{
    font-size: 35px;
    padding: 35px;
    text-align: center;
}
#ndiplomados h1{
    font-size: 45px;
    color: #003366;
}


/*Preguntas*/
#preguntas{
    font-family: Confortaa;
    font-size: 30px;
    color: #594e4e;
    padding: 60px 0px 20px 10px;
}
#preguntas h1{
    font-family: MontserratIta;
    font-size: 80px;
    color: #003366;
    font-weight: lighter;
    padding-right: 75px;
    padding-top: 30px;
}
#preguntas h2{
    font-family: MontserratFina;
    font-size: 80px;
    font-weight: lighter;
    padding-left: 75px;
    padding-bottom: 20px;
}

#preguntas h3{
    font-size: 30px;
}
#preguntas b{
    color: yellow;
}
.respuestas{
    font-family: Confortaa;
    font-size: 20px;
    color: #594e4e;
}


#avanzado{
    display: flex;
    overflow: auto;
}
#avanzado p{
    padding-top: 10px;
    padding-bottom: 10px;
}
#avanzado h2{
    font-size: 35Px;
}

@media only screen and (max-width: 600px) {

    .quienes{
        margin-top:148px;
    }

    #educadores p{
        border-radius: 5px;
        font-size: 20px;
        text-align: center;
    }
    #educadores h1{
        color: #003366;
        border-radius: 5px;
        font-size: 40px;
        text-align: center;
    }

    #preguntas{
        font-size: 25px;
        padding: 150px 10px 30px 10px;
    }
    .respuestas{
        font-size: 20px;
    }

    #preguntas h1{
        font-size: 40px;
        padding-right: 25px;
    }
    #preguntas h2{
        font-size: 40px;
        padding-left: 25px;
    }

    #titular-quienes{
        padding: 25px 1px 1px 1px;
        width: 100%;
    }

    #titular-quienes h1{
        font-size: 45px;
        text-align: center;
        width: 100%;
    }
}
.quienes img{
    width: 100%;
}