@media only screen and (max-width: 600px) {
    #nav{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    /*
    .menudvrsp{
        float: none;
        display: block;
        width: 100%;
        text-align: center;
        background-color: white;
    }*/

}