@font-face{
    font-family: 'Montserrat';
    src: url("fuentes/Montserrat/Montserrat-VariableFont_wght.ttf") format('truetype');
    font-style: normal;
    font-weight: 700;
}
@font-face{
    font-family: 'MontserratIta';
    src: url("fuentes/Montserrat/Montserrat-Italic-VariableFont_wght.ttf") format('truetype');
    font-style: normal;
    font-weight: 700;
}

@font-face{
    font-family: 'Confortaa';
    src: url("fuentes/Comfortaa/Comfortaa-VariableFont_wght.ttf") format('truetype');
    font-style: normal;
    font-weight: 700;
}

h1{
    font-family: Montserrat;
    color: #003366;
}
p{
    font-family: Confortaa;
}
/*Navbar*/
#nav{
    padding-top: 15px;
    padding-bottom: 5px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    display: block;
    font-family: MontserratIta;
    text-align: center;
}
.menudv{
    color: #003366;
    float: left;
    text-decoration: none;
    font-size: 20px;
    width: 33.33%;
    text-align: center;
    height: 50px;
}
.navbar a{
    color: #003366;
    text-decoration: none;
    text-align: center;
    width: 100%;
    padding-top: 15px;
}

/*prueba imagen modal*/
#Myimagen{
    width: 200px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
    position: center;
}
#Myimagen:hover{opacity: 0.7;}
.modal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%    ; /* Full width */
    height: auto; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 250px;
    max-width: 250px;
    align-items: center;
    border-radius: 50%;
}
/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 2500px;
}
/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}
@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}
/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
/*Fin de prueba modal*/

/*Menu desplegable*/
/*.dropdown {
    float: left;
    text-align: center;
    width: 33.33%;
}*/
.navbar dropdown{
    color: #003366;
    float: left;
    text-decoration: none;
    font-size: 16px;
    width: 33.33%;
    text-align: center;
}
.dropdown .dropbtn {
    font-size: 20px;
    border: none;
    outline: none;
    color: #003366;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    padding-top: 20px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgb(0,0,0,0.2);
    z-index: 3;
    width: 80%;
    overflow: hidden;
}
.dropdown-content a {
    float: none;/
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    text-decoration: none;
    display: block;
    text-align: left;
    overflow: hidden;
    width: 100%;
    z-index: 2;

}
.linkmenu{
    font-size: 25px;
}
.dropdown-content a:hover {
    background-color: rgba(255, 204, 0, 0.72);
    border-radius: 65px;
}
.dropdown:hover .dropdown-content {
    display: block;
}

#btn{
    padding-top: 15px;
    padding-bottom: 5px;
    width: 100%;
    background-color: white;
    font-family: MontserratIta;
}
.btndiv{
    width: 25%;
    float: left;
}
.btncursos{
    border-radius: 25px;
    width: 80%;
    height: 150px;
    box-shadow: black;
    text-decoration: none;
}
.btncursos a{
    text-decoration: none;
}

.encabezado div{
    width: 100%;
}
.encabezado{
    font-size: 60px;
    color: gray;
    width: 65%;
}

/*Imagenes*/
.imgmenu{
    height: 85px;
}
.img{
    margin-top:72px;
    padding:13px;
    width: 100%;
    height:100%;
    background-size: 100% 100%;
    background-repeat:no-repeat;
    background-image: url("img/chicagua.jpg");
    background-size: cover;
}
.img img{
    width: 100%;
}
.acomodoimg{
    float: left;
    width: 25%;
}
.port1{
    /*background-color: white;*/
    height: auto;
    width: 100%;
    display: block;
    top: 0;
}
.port2{
    /*background-color: white;*/
    height: auto;
    width: 100%;
    display: block;
    top: 0;
}

.dnec{
    width: 700px;
    height: 700px;
    float: right;
    overflow: hidden
}
.nec{
    width: 1400px;
    height: 1400px;
    /*transition-property: ;*/
}

/*Bordes*/
.bg-negro{
    background: #000;
}
.border-red{
    border: 1px solid #f30;
    /*background-color: #ffd0bf;*/
}
.border-azul{
    border: 1px solid #0a58ca;
    /*background-color: #0a58ca;*/
}
.border-verde{
    border: 1px solid #00FA20;
    /*background-color: #94ff86;*/
}