#nav{
    padding-top: 50px;
    padding-bottom: 50px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: aliceblue;
}
.navbar a{
    color: black;
    float: left;
    text-decoration: none;
    font-size: 17px;
    width: 33.33%;
    text-align: center;
}

.bg-negro{
    background: #000;
}
.border-red{
    border: 1px solid #f30;
}

.border-azul{
    border: 1px solid #0a58ca;
}

.border-verde{
    border: 1px solid #00FA20;
}

.port1{
    background-image: url("/css/img/portada.jpg");
    height: calc(1000px - 500px);
}


.port2{
    background-image: url("/css/img/picture.jpg");
    height: 500px;
    width: 100%;
}

